body {
    background-color: #b9fffc;
}

.navbar-nav {
    color: #706897;
    font-family: Arial, Helvetica, sans-serif;
}


.cervantes-box-title {
    color: #706897;
}
.cervantes-intro-box {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    text-align: center, justify;
    margin: 0 auto;
    font-size: 10px;
}
.cervantes-box-cursive {
    color: #706897;
}

#windmill {
    max-width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cls-3{
    transform: translateX(150px);
    animation: scroll 20s infinite linear;
  }
  
  
  @keyframes scroll {
    from {
      transform: translateX(-50px);
    }
    to {
      transform: translateX(150px);
    }
  }
    
  