body {
    background-color: #b9fffc;
}

.navbar-nav {
    color: #706897;
    font-family: Arial, Helvetica, sans-serif;
}


.cervantes-box-title {
    color: #706897;
}
.cervantes-intro-box {
    margin: 0 auto;
    opacity: 1;
    text-align: center;
}
.cervantes-box-cursive {
    color: #706897;
}

#windmill {
    display: block;
    margin: 0 auto;
    max-width: 700px;
  }
  
  .cls-3{
    transform: translateX(150px);
    animation: scroll 20s infinite linear;
  }
  
  
  @keyframes scroll {
    from {
      transform: translateX(-50px);
    }
    to {
      transform: translateX(150px);
    }
  }
    
  