body {
    background-color: #b9fffc;
}

.cervantes-box-title {
    color: #706897;
}

#windmill {
    display: block;
    margin: 0 auto;
    max-width: 700px;
  }
  
  .cls-3{
    transform: translateX(150px);
    animation: scroll 20s infinite linear;
  }
  
  
  @keyframes scroll {
    from {
      transform: translateX(-50px);
    }
    to {
      transform: translateX(150px);
    }
  }
    
  